<!DOCTYPE html>
<!--Every thing inside the html element belongs to angular because that is where ng-app is declared. Give ng-app a value in order to assign it to a particular module that is defined in the accompanying JS file.-->
<html ng-app="dale">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple app</title>
    <script src="angular/angular.js"></script>
</head>
<body>
<!--Every thing in this div class is scoped to DaleController because of the ng-controller directive-->
<div ng-controller="DaleController">
    <!--combining filters, we make our clock display only the time and change the default case AM/PM to am/pm-->
<h1>{{clock.now|date:'mediumTime'|lowercase}} !</h1>
    <!--Changing audio and image sources with ng-attr-src-->
    <audio autoplay ng-attr-src={{theSrc}}></audio>
    <img ng-attr-src="{{picSrc}}">
</div>
<!--Using the ng-click directive multi-controller scopes-->
<div ng-controller="CalcController">
    <h4>A simple calculator</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <a ng-click="add(-1)" class="button alert">Subtract</a>
    <h4>Current count: {{counter}}</h4>
</div>
<div ng-controller="PropController">
    <h1>{{person}}</h1>
    and their name
    <h2>{{person.name}}</h2>
    <!--Bind a scope as a child scope by placing child controller inside of parent controller-->
    <div ng-controller="PropChildController">
        <a ng-click="displayPhone()">Show Phone</a>
        {{person.phone}}
    </div>
</div>
<!--Parse expr when it changes value output the parsed result to parsedValue-->
<div ng-controller="parseController">
    <input ng-model="expr" type="text" placeholder="Enter an Expression"/>
    <h2>{{parsedValue}}</h2>
</div>
<!--Using a template expression for the ng-model in the emailBody will put the contents of to in its place when the email body changes. So using {{to}} in the emailBody textarea will cause the contents of 'to' to be substituted for {{to}}-->
<div ng-controller="interpolateController">
    <input ng-model="to" type="email" placeholder="Recipient"/>
    <textarea ng-model="emailBody"></textarea>
    <pre>{{previewText}}</pre>
</div>
<div ng-controller="filterController">
    <!--using angular built-in filters in the html-->
    <h2>{{sample|uppercase}}</h2>
    <!--using the custom filter from dale.js-->
    <h2>{{sample|firstLetters}}</h2>
    <!--here we pass an argument to the number filter using the :-->
    <p>{{23.3456|number:2}}</p>
    <!--using the 'filter' filter on arrays, it may help to think of this a query since it returns an array base on the search criteria-->
    <!--filtering simple array elements-->
    <h2>{{ary|filter:'e'}}</h2>
    <!--Filtering array objects: returns all objects that contain 16 as a value for the age property-->
    <h2>{{objary | filter:{'age': 16}:'strict'}}</h2>
    <!--the following has the lowercase filter applied from JavaScript-->
    <div ng-controller="JSFilteredController">
        <h2>{{sampletwo}}</h2>
    </div>
</div>
<script src="dale.js" async></script>
</body>
</html>